:root {
  --pink: #fed3db;
  --darkPink: #ffb8c5;;
  --platformBorder: #89df79;
  --profileBorder: #c883ff;
  --cancelRed: #f85b5b;
  --saveGreen: #8bd784;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.app {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

/* MENU BAR */
.logo {
  color:rgba(0, 0, 0, 0.75);
}
.search-bar {
  width: 40%;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
  cursor: pointer !important;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.text-align-center {
  text-align: center;
}

.icon:hover {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.card-image {
  min-width: 5rem !important;
  min-height: 5rem !important;
  width: 9vw !important;
  height: 9vw !important;
}

.ui.four.cards, .ui.five.cards {
  justify-content: space-between;
}

.creator-circle {
  border: 4px solid var(--profileBorder);
}

.platform-circle {
  border: 4px solid var(--platformBorder);    
}

.card-text {
  word-wrap: break-word;
}

.search-cards {
  padding-bottom: 1px;
}

/* SAVE CANCEL BUTTONS */
.save-button {
  max-width: 8rem;
  width: -webkit-fill-available;
  height: 3rem;
  background-color: var(--saveGreen) !important;
}

.cancel-button {
  max-width: 8rem;
  width: -webkit-fill-available;
  height: 3rem;
  background-color: var(--cancelRed) !important;
}

.input-box {
  background-color: white;
  /*border: 1px solid black;
  border-radius: 5px;*/
  margin-left: 430px;
  margin-top: 15px;
  height: 35px;
  width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SUCCESS/ERROR MESSAGES */
.suc-msg {
  color: green;
  font-family: var(--font-family-roboto-regular);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 23px;
  margin-top: 10px;
  text-align: center;
}

.err-msg {
  color: red;
  font-family: var(--font-family-roboto-regular);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 23px;
  margin-top:10px;
  text-align: center;
}

.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.modal-close {
  top: 10px !important;
  right: 10px !important;
  color: black !important;
}

/* LIKE BUTTON */
.ui.teal.button:focus,
.ui.teal.buttons {
  background-color: #00b5ad;
}
