:root {
  --pink: #fed3db;
  --platformBorder: #89df79;
  --profileBorder: #c883ff;
}

.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.app {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* MENU BAR */

.logo {
  color:rgba(0, 0, 0, 0.75);
}
.search-bar {
  width: 40%;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.text-align-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.card-image {
  width: 9rem !important;
  height: 9rem !important;
}

.creator-circle {
  border: 4px solid var(--profileBorder);
}

.platform-circle {
  border: 4px solid var(--platformBorder);    
}

.banner-header {
  position: relative;
  height: 20rem;
  text-align: left;
}

.banner-info {
  position: absolute;
  left: 5rem;
  bottom: -6rem;
}

.banner-text {
  position: absolute;
  left: 11rem;
  bottom: 1rem;
  display: inline-block;
}

.profile-section, .platform-section {
  position: relative;
  padding-bottom: 3rem;
  top: 7rem;
}

.active-tab {
  background: var(--pink) !important;
}

.inactive-tab {
  background: #e2e2e2 !important;
  margin-bottom: -1px;
  box-shadow: none;
  border-radius: .28571429rem .28571429rem 0 0!important;
}

.profile-tab {
  width: 14.29%;
  justify-content: center;
  border-bottom: 1px solid transparent !important;
  border-color: black !important;
}

.platform-tab {
  width: 20%;
  justify-content: center;
  border-bottom: 1px solid transparent !important;
  border-color: black !important;
}

.profile-content, .platform-content {
  border-bottom: 1px solid transparent !important;
  border-color: black !important;
}

.follow-button {
  position: absolute;
  right: 5rem;
  bottom: -4.6rem;
  width: 8rem;
  height: 3rem;
  background-color: var(--pink) !important;
}

.edit-button {
  width: 8rem;
  height: 3rem;
  background-color: var(--pink) !important;
}

/* .update-account {
  margin-top: 141px;
  margin-left: 351px;
  font-size: 48px;
  font-family: var(--font-family-puritan-bold);
} */

/* .update-username-placeholder1 {
  margin-top: 285px;
  margin-left: 379px;
  font-size: 18px;
} */

/* .update-username-placeholder1 {
  margin-top: 383px;
  margin-left: 379px;
  font-size: 18px;
} */

/* .update-username {
  margin-top: 321px;
  margin-left: 449px;
  font-size: 24px;
  font-family: var(--font-family-roboto-bold);
} */

/* .input-box {
  margin-top: 417px;
  margin-left: 380px;
  width: 264px;
  height: 35px;
  border-radius: 5px;
} */

.save-button {
  width: 8rem;
  height: 3rem;
  background-color: #8bd784 !important;
}

.suc-msg {
  color: green;
  /* font-size: 20px; */
  /* text-align: center; */
}

.err-msg {
  color: red;
  /* font-size: 20px; */
  /* text-align: center; */
}

.cancel-button {
  width: 8rem;
  height: 3rem;
  background-color: #f85b5b !important;
}

.edit-box {
  margin: 0px;
  width: 400px;
  height: 100px;
}

.request-button {
  position: absolute;
  right: 3rem;
  width: 10%;
  height: 2.5rem;
  background-color: var(--pink) !important;
}

/* .quiz-start-end-button {
  margin-top:509px;
  margin-left:464px;
  text-align: center;
  color: white;
  background-color: #ff98ac;
  width: 98.47px;
  height: 37px;
} */

/* .quizLeaderboard {
  margin-top: 599px;
  margin-left: 249px;
  text-align: center;
  color: black;
  background-color: #ffcaca;
  width: 523px;
  height: 30px;
} */

/* .quiz-title {
  margin-top: 70px;
  margin-left: 303px;
  font-family: var(--font-family-puritan-bold);
  font-size: 36px;
} */

/* .quiz-creator-follow {
  margin-top: 113px;
  margin-left: 402px;
  border-radius: 10px;
  width: 224px;
  height: 54px;
  background-color: #c883ff;
} */

/* .quiz-finish-button {
  margin-top: 690px;
  margin-left: 869px;
  width: 98.47px;
  height: 52px;
  border-radius: 8px;
  background-color: #f85b5b;
  color: white;
} */

.quests {
  margin-top: 100px;
  margin-left: 58px;
  font-size: 48px;
  font-family: var(--font-family-puritan-bold);
}

.quests-rectangle {
  margin-top: 184px;
  margin-left: 54px;
  width: 919px;
  height: 523px;
  background-color: var(--pink);
}

.checkBox {
  width: 139.23px;
  height: 37px;
  border-radius: 8px;
  background-color: #ff98ac;
  color: white;
  font-size: 25px;
  font-family: var(--font-family-puritan-regular);
}