/* PROFILE/PLATFORM PAGES */
/* BANNER */
.banner-header {
    position: relative;
    width: 100%;
    height: 15rem;
    text-align: left;
}

.banner-info {
    position: absolute;
    left: 6rem;
    bottom: -2rem;
}

.banner-text {
    position: absolute;
    left: 11rem;
    bottom: 1rem;
    display: inline-block;
    max-width: 40vw;
    width: fit-content;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_box {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.profile-image, .platform-image {
    min-width: 7rem !important;
    min-height: 7rem !important;
}

/* BUTTONS */
.edit-button {
    max-width: 8rem;
    width: -webkit-fill-available;
    height: 3rem;
    background-color: var(--pink) !important;
}

.follow-button {
    max-width: 8rem;
    width: -webkit-fill-available;
    height: 3rem;
    position: inherit;
    top: 25px;
    background-color: var(--pink) !important;
}

#upload-banner-image, #upload-profile-image, #upload-platform-image {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.hover-image:hover {
    opacity: 90%;
}

.camera.icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.editBannerButtons {
    position: inherit;
    top: 25px;
}

/* TABS */
.profile-section,
.platform-section {
    position: relative;
    padding-bottom: 3rem;
    top: 4rem;
}

.active-tab {
    background: var(--pink) !important;
}

.inactive-tab {
    background: #e2e2e2 !important;
    margin-bottom: -1px;
    box-shadow: none;
    border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}

.profile-tab {
    width: 14.29%;
    justify-content: center;
    border-bottom: 1px solid transparent !important;
    border-color: black !important;
}

.platform-tab {
    width: 20%;
    justify-content: center;
    border-bottom: 1px solid transparent !important;
    border-color: black !important;
}

.profile-content, .platform-content {
    border-bottom: 1px solid transparent !important;
    border-color: black !important;
}

.empty-tab {
    height: 46px;
}

/* PLATFORM CREATION MODAL */
.create-modal-button {
    width: 8rem;
    height: 3rem;
    background-color: var(--saveGreen) !important;
}

.cancel-modal-button {
    width: 8rem;
    height: 3rem;
    background-color: var(--cancelRed) !important;
}

.creation-modal {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.create-modal-input {
    background-color: white;
    height: 35px;
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-modal-suc-msg {
    color: var(--saveGreen);
    font-family: var(--font-family-roboto-regular);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 23px;
    margin-top: 10px;
    text-align: center;
  }
  
  .create-modal-err-msg {
    color: var(--cancelRed);
    font-family: var(--font-family-roboto-regular);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 23px;
    margin-top:10px;
    text-align: center;
  }

/* FEATURED QUIZ */
.featured {
    float: right !important;
    color: yellow;
    margin-top: -130px !important;
    font-size: 15pt !important;
}

.unfeatured {
    float: right !important;
    color: #bbb;
    margin-top: -130px !important;
    font-size: 15pt !important;
}

/* ABOUT EDIT BOXES */
.edit-box {
    margin: 0px;
    width: -webkit-fill-available;
    height: 100px;
}