/* QUEST PAGE */

  .quests {
    margin-top: 3rem;
    margin-left: 58px;
    font-size: 48px;
    font-family: var(--font-family-puritan-bold);
  }
  
  .quests-rectangle {
    margin-top: 4rem;
    margin-left: 54px;
    width: 919px;
    height: 570px;
    background-color: var(--pink);
    font-size: 1.7rem;
    display: table;
  }

  .quest-block {
    text-align: justify;
    display: table-row;
  }

  .quest-text {
    display: table-cell;
    padding-left: 50px;
    padding-right: 50px;
  }

  .quest-button {
    display: table-cell;
    /* padding-right: 50px; */
  }

  .complete-box {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #008000 !important;
    background-color: #32CD32 !important;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    display: table-cell;
  }

  .incomplete-box {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    display: table-cell;
  }
  
  .arrow {
      margin-left: 580px;
  }