/* QUEST PAGE */

.quests {
    margin-top: 3rem;
    margin-left: 58px;
    font-size: 48px;
    font-family: var(--font-family-puritan-bold);
  }
  
  .quests-rectangle {
    margin-top: 4rem;
    margin-left: 54px;
    width: 919px;
    height: 570px;
    background-color: var(--pink);
    font-size: 1.7rem;
  }
  
  .checkBox1 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 410px;
  }

  .completeBox1 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #008000 !important;
    background-color: #32CD32 !important;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 410px;
  }
  
  .checkBox2 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 470px;
  }

  .completeBox2 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: green;
    background-color: #32CD32;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 474px;
  }
  
  .checkBox3 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 520px;
  }

  .completeBox3 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: green;
    background-color: #32CD32;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 520px;
  }
  
  .checkBox4 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 506px;
  }

  .completeBox4 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: green;
    background-color: #32CD32;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 508px;
  }
  
  .checkBox5 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 285px;
  }

  .completeBox5 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: green;
    background-color: #32CD32;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 480px;
  }
  
  .checkBox6 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: #ff3333;
    background-color: #ff98ac;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 480px;
  }

  .completeBox6 {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border-color: green;
    background-color: #32CD32;
    color: white;
    font-size: 23px;
    font-family: var(--font-family-puritan-regular);
    margin-left: 480px;
  }
  