.table-of-contents{
    position: fixed;
    top: 70px;
    left: 10px;
    width: 225px; 
    height: 770px;
    border: 1px solid black;
}
.table-of-contents-selector{
    background-Color: #e7e7e7;
    color: black;
    border-radius: 2px;
}
.table-of-contents-selector:hover{
    background-color: #ffffff
}

.table-of-contents-cards{
    background-Color: #f7d4f1;
    color: black;
    border-radius: 2px;
    width: 195px; 
    height: 100px;
    padding: 10px;
    left: 10px;
}

.titlebox{
    position: absolute;
    top: 80px;
    left: 30%;
    width: 800px; 
    height: 40px;
    font-size: large;
    text-align: center;
}

.drawing_bar{
    position: absolute;
    top: 140px;
    left: 20%;
    width:1000px;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
    

}
.drawing_btn{
    background-Color: #e7e7e7;
    color: black;
    border-radius: 2px;
    width: 100px; 
    height: 30px;
    font-size: small;
}
.question-card{
    position: absolute;
    top: 200px;
    left: 20%;
    width: 1000px; 
    height: 500px;
    border: 2px solid  black;
}
.answer-card{
    position: absolute;
    top: 720px;
    left: 20%;
    width: 1000px; 
    height: 500px;
    border: 2px solid  black;
}
.save{
    position: absolute;
    top: 1250px;
    left: 80%;
    background-Color: #00ff4c;
    color: black;
    border-radius: 2px;
    width: 100px; 
    height: 30px;
    font-size: small;
}
.cancel{
    position: absolute;
    top: 1250px;
    left: 74%;
    background-Color: #ff0000;
    color: black;
    border-radius: 2px;
    width: 100px; 
    height: 30px;
    font-size: small;
}

.description{
    width: 1000px;
    height: 500px;
    
}