/* QUIZ PAGES */
/*
.quests {
  font-family: var(--font-family-puritan-bold);
  font-size: 48px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 58px;
  margin-top: 30px;
}

.quests-rectangle {
  background-color: #fed3db;
  height: 20%;
  width: 60%;
  margin-top: 150px;
  margin-left: 54px; 
}

.quest-lists {
  font-family: var(--font-family-puritan-regular);
  color: black;
  font-size: 30px;
}

.checkBox {
  background-color: #ff98ac;
  color: white;
  margin-right: 50px;
  height: 3rem;
  width: 8rem;
  border-radius: .28571429rem .28571429rem 0 0;
  background-color: #f85b5b !important;
  background-color: var(--cancelRed) !important;
}*/

/* .update-account {
  margin-top: 141px;
  margin-left: 351px;
  font-size: 48px;
  font-family: var(--font-family-puritan-bold);
} */

/* .update-username-placeholder1 {
  margin-top: 285px;
  margin-left: 379px;
  font-size: 18px;
} */

/* .update-username-placeholder1 {
  margin-top: 383px;
  margin-left: 379px;
  font-size: 18px;
} */

/* .update-username {
  margin-top: 321px;
  margin-left: 449px;
  font-size: 24px;
  font-family: var(--font-family-roboto-bold);
} */

/* .input-box {
  margin-top: 417px;
  margin-left: 380px;
  width: 264px;
  height: 35px;
  border-radius: 5px;
} */


/* .quiz-start-end-button {
  margin-top:509px;
  margin-left:464px;
  text-align: center;
  color: white;
  background-color: #ff98ac;
  width: 98.47px;
  height: 37px;
} */

/* .quizLeaderboard {
  margin-top: 599px;
  margin-left: 249px;
  text-align: center;
  color: black;
  background-color: #ffcaca;
  width: 523px;
  height: 30px;
} */

/* .quiz-title {
  margin-top: 70px;
  margin-left: 303px;
  font-family: var(--font-family-puritan-bold);
  font-size: 36px;
} */

/* .quiz-creator-follow {
  margin-top: 113px;
  margin-left: 402px;
  border-radius: 10px;
  width: 224px;
  height: 54px;
  background-color: #c883ff;
} */

/* .quiz-finish-button {
  margin-top: 690px;
  margin-left: 869px;
  width: 98.47px;
  height: 52px;
  border-radius: 8px;
  background-color: #f85b5b;
  color: white;
} */