/* QUIZ */

.quiz-start-retry-button {
  margin-top:20px;
  margin-left:520px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #ff98ac !important;
  width: 98.47px;
  height: 37px;
} 

 .quizLeaderboard {
  margin-top: 20px;
  margin-left: 300px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  background-color: var(--pink) !important;
  width: 523px;
  height: 30px;
} 

.leaderboard-table {
  margin-left: auto;
  margin-right: auto;
}

.quiz-title {
  margin-top: 10px;
  font-family: var(--font-family-puritan-bold);
  font-size: 36px;
} 

.quiz-creator-follow {
  align-items: center;
  margin-top: 20px;
  margin-left: 480px;
  margin-bottom: 20px;
  border-radius: 50px;
  width: 240px;
  height: 70px;
  background-color: var(--profileBorder) !important;
} 

.quiz-finish-button {
  margin-top: 200px;
  margin-left: 869px;
  width: 98.47px;
  height: 42px;
  border-radius: 8px;
  text-align: center;
  background-color: #f85b5b;
  color: white;
} 

.each-question {
  width: 500px;
  height: 50px;
  margin-top: 10px;
  margin-left: 300px;
}

/*.question-page-number {
  margin-bottom: 10px;
}*/